# <center>EXERCISES BICICLE SHOP<center>
<center> Several exercises of queries on AzureSQL using the sample database of a bicicle shop offered by the platform of Azure.<center>

### 1. Selecciona todos los detalles de los productos cuyo precio sea mayor a 100€ (Select all the details of the products whose price is more than 100€.)

In [ ]:
SELECT *
    FROM SalesLT.Product
    WHERE ListPrice > 100;

            Explicación: The T-SQL query can answer the given question because it selects all the 
                        details (columns) from the "SalesLT.Product" table where the "ListPrice" column is 
                        greater than 100€.

### 2. Muestra los porductos que pertenecenm a la categoria ID 18 y tienen un peso mayor a 1000. (Displays products that belong to ID 18 category and have a weight greater than 1000).

In [ ]:
SELECT p.Name, p.Weight
    FROM SalesLT.Product AS p
    JOIN SalesLT.ProductCategory AS pc ON p.ProductCategoryID = pc.ProductCategoryID
    WHERE pc.ProductCategoryID = 18 AND p.Weight > 1000;

        Explicación: The T-SQL query retrieves the names and weights of products from the 
                    SalesLT.Product table that belong to the category with ID 18 and have a weight greater 
                    than 1000.

### 3. Selecciona los nombres y precios de los productos cuyo precio esté entre 50€ y 300€ (Select the names and prices of the products whose price is between 50€ and 300€.)

In [ ]:
SELECT Name, ListPrice
    FROM SalesLT.Product
    WHERE ListPrice BETWEEN 50 AND 300;

        Explicación: The T-SQL query can answer the given question because it selects the names and 
             prices of the products from the "SalesLT.Product" table where the list price is 
             between 50€ and 300€.

### 4. Muestra cuántos productos hay en cada categoria (Shows how many products are in each category.)

In [ ]:
SELECT pc.Name AS CategoryName, COUNT(p.ProductID) AS NumberOfProducts
    FROM SalesLT.Product p
    JOIN SalesLT.ProductCategory pc ON p.ProductCategoryID = pc.ProductCategoryID
    GROUP BY pc.Name
    ORDER BY pc.Name;

        Explicación: The T-SQL query joins the "Product" table with the "ProductCategory" table 
             using the common column "ProductCategoryID". It then groups the results by the 
             category name and counts the number of products in each category using the COUNT 
             function. Finally, it orders the results by the category name. This query provides the 
             desired information by showing the number of products in each category.

### 5. Obten la cantidad total de ventas (cantidad de productos) por clientes. [Obtain the total amount of sales (number of products) by customer.]

In [ ]:
SELECT c.CustomerID, c.FirstName, c.LastName, COUNT(*) AS TotalSales
    FROM SalesLT.Customer AS c
    JOIN SalesLT.SalesOrderHeader AS soh ON c.CustomerID = soh.CustomerID
    JOIN SalesLT.SalesOrderDetail AS sod ON soh.SalesOrderID = sod.SalesOrderID
    GROUP BY c.CustomerID, c.FirstName, c.LastName;

        Explicación: The T-SQL query can answer the given question because it retrieves the customer 
             ID, first name, last name, and the count of sales (number of products) for each 
             customer. It achieves this by joining the Customer, SalesOrderHeader, and 
             SalesOrderDetail tables and grouping the results by the customer's ID, first name, and last 
             name.

### 6. Muestra los clientes que han comprado mas de 10 productos en total. (Displays customers who have purchased more than 10 products in total)

In [ ]:
# OPTION 1
SELECT c.CustomerID, c.FirstName, c.LastName, COUNT(*) AS TotalProductsPurchased
    FROM SalesLT.Customer AS c
    JOIN SalesLT.SalesOrderHeader AS soh ON c.CustomerID = soh.CustomerID
    JOIN SalesLT.SalesOrderDetail AS sod ON soh.SalesOrderID = sod.SalesOrderID
    GROUP BY c.CustomerID, c.FirstName, c.LastName
    HAVING COUNT(*) > 10

        Explicación: The T-SQL query joins the Customer, SalesOrderHeader, and SalesOrderDetail 
             tables based on their respective foreign key relationships. It then groups the results 
             by customer and calculates the count of products purchased for each customer. 
             Finally, it filters the results to only include customers who have purchased more than 
             10 products in total. Therefore, the query retrieves the customers who have 
             purchased more than 10 products in total.

In [ ]:

# OPTION 2
SELECT c.CustomerID, c.FirstName, c.LastName, COUNT(distinct sod.ProductID) as TotalProducts
    FROM SalesLT.Customer c
    JOIN SalesLT.SalesOrderHeader soh ON c.CustomerID = soh.CustomerID
    JOIN SalesLT.SalesOrderDetail sod ON soh.SalesOrderID = sod.SalesOrderID
    GROUP BY c.CustomerID, c.FirstName, c.LastName
    HAVING COUNT(distinct sod.ProductID) > 10;

        Explicación: The T-SQL query retrieves the CustomerID, FirstName, and LastName of customers 
             who have purchased more than 10 distinct products. It achieves this by joining the 
             Customer, SalesOrderHeader, and SalesOrderDetail tables, counting the distinct ProductIDs 
             for each customer, and filtering the results to only include customers with a count 
             greater than 10.

### 7. Muestra el nombre de los productos junto con el nombre de la categoría a la que pertenecen. (Displays the name of the products together with the name of the category to which they belong.)

In [ ]:
SELECT p.Name AS ProductName, pc.Name AS CategoryName
    FROM SalesLT.Product AS p
    JOIN SalesLT.ProductCategory AS pc ON p.ProductCategoryID = pc.ProductCategoryID

        Explicación: The T-SQL query can answer the given question because it retrieves the product 
                    name and the corresponding category name by joining the SalesLT.Product table with 
                    the SalesLT.ProductCategory table using the common ProductCategoryID column.

### [REVIEW)] 8. Muestra los nombres de los productos y las fechas de las ordenes en las que han sido vendidos pero solo si fueron vendidos despues de enero de 2020 ( Shows the names of the products and the dates of the orders in which they have been sold, but only if they were sold after January 2020.)

In [ ]:
SELECT p.Name, o.OrderDate
    FROM SalesLT.Product AS p
    JOIN SalesLT.SalesOrderDetail AS od ON p.ProductID = od.ProductID
    JOIN SalesLT.SalesOrderHeader AS o ON od.SalesOrderID = o.SalesOrderID
    WHERE o.OrderDate > '2020-01-01';

        Explicación: The T-SQL query joins the necessary tables (Product, SalesOrderDetail, and 
                    SalesOrderHeader) using their respective primary and foreign keys. It selects the product
                     names and order dates from the joined tables. The WHERE clause filters the results to 
                    only include orders placed after January 2020. Therefore, the query retrieves the 
                    names of the products and the dates of the orders in which they have been sold, but 
                    only if they were sold after January 2020. NOTE: This query contains 1 string 
                    literal(s) which may or may not be correct. The AI did not access the data values in this 
                    database when writing the query.

### 9. Muestra los nombres de los produtos y los nombres de los clientes que han comprado esos productos (Displays product names and the names of customers who have purchased those products)

In [ ]:
SELECT p.Name AS ProductName, c.FirstName + ' ' + c.LastName AS CustomerName
    FROM SalesLT.Product AS p
    JOIN SalesLT.SalesOrderDetail AS sod ON p.ProductID = sod.ProductID
    JOIN SalesLT.SalesOrderHeader AS soh ON sod.SalesOrderID = soh.SalesOrderID
    JOIN SalesLT.Customer AS c ON soh.CustomerID = c.CustomerID;

        Explicación: The T-SQL query can answer the given question because it retrieves the product 
             names and the names of customers who have purchased those products by joining the 
             necessary tables (Product, SalesOrderDetail, SalesOrderHeader, and Customer) based on 
             their respective foreign key relationships.

### 10. Encuentra los clientes que han gastado mas de 1000€ en total en productos. (Find customers who have spent more than 1000€ in total on products.)

In [ ]:
SELECT c.CustomerID, c.FirstName, c.LastName, SUM(od.UnitPrice * od.OrderQty) AS TotalSpent
    FROM SalesLT.Customer AS c
    JOIN SalesLT.SalesOrderHeader AS soh ON c.CustomerID = soh.CustomerID
    JOIN SalesLT.SalesOrderDetail AS od ON soh.SalesOrderID = od.SalesOrderID
    GROUP BY c.CustomerID, c.FirstName, c.LastName
    HAVING SUM(od.UnitPrice * od.OrderQty) > 1000;

        Explicación: The T-SQL query can answer the given question because it retrieves the 
             CustomerID, FirstName, and LastName of customers who have spent more than 1000€ in total on 
             products. It achieves this by joining the Customer, SalesOrderHeader, and 
             SalesOrderDetail tables, calculating the total spent for each customer using the SUM function, 
             and filtering the results using the HAVING clause.

### 11. Muestra los clientes que han hecho mas de 1 compra. (Displays customers who have made more than 1 purchase.)

In [ ]:
SELECT c.CustomerID, c.FirstName, c.LastName, COUNT(soh.SalesOrderID) AS PurchaseCount
    FROM SalesLT.Customer c
    JOIN SalesLT.SalesOrderHeader soh ON c.CustomerID = soh.CustomerID
    GROUP BY c.CustomerID, c.FirstName, c.LastName
    HAVING COUNT(soh.SalesOrderID) > 1;

        Explicación: The T-SQL query retrieves the CustomerID, FirstName, and LastName of customers 
             who have made more than one purchase. It achieves this by joining the 
             SalesLT.Customer and SalesLT.SalesOrderHeader tables on the CustomerID column and grouping the 
             results by CustomerID, FirstName, and LastName. The COUNT function is used to count the 
             number of SalesOrderIDs for each customer, and the HAVING clause filters the results 
             to only include customers with a purchase count greater than 1.